

@media only screen and (min-width: 800px) {
#leftbalk{
	width: 20%;
	height: 620px;
	background-image: url("../images/transparant2.png");
}
#leftbalk img{
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

#settings img{
	width: 30%;
	margin-top: 15px;
	float: right;
}
.comments__list{
	margin-top: 20px;
}
.comments__list__item a{
	color: black;
}
.comments__list__item a:hover{
	text-decoration: none;
}

#home{
	width: 80%;
	height: 620px;
	background-image: url("../images/transparant3.png");
}

#verwijderen a{
	 font-family: 'Cuprum', serif;
	 font-size: 16px;
}

#verwijderen input[type='submit']{
	background-color: transparent;
	color: #f0ad4e;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;

}
#verwijderen input[type='submit']:hover{
    background-color: transparent;
	color: #f91d0d;
	text-decoration: none;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;

}
#verwijderen{
	margin-bottom: 20px;
}

#home li{
	list-style-type: none;
}

#home h3{
	font-family: 'Cuprum', serif;
	 font-size: 20px;
}

#timeline{
	margin-top: 1px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
}