
#rightForm p{
	 font-family: 'Cuprum', serif;
	 font-size: 16px;
	
}

#rightForm .Login{
	 color: #f0ad4e;
	 padding: 5px;
	 border: solid 1px;
	 border-radius: 3px;
	 font-weight: bold;
	
}

#rightForm .Register{
	 color: #f0ad4e;
	 padding: 5px;
	 border: solid 1px;
	 border-radius: 3px;
	 margin-left: 15px;
	 font-weight: bold;	
}

#rightForm .Login:hover{
	color: #f91d0d;
	text-decoration: none;
}

#rightForm .Register:hover{
	color: #f91d0d;
	text-decoration: none;
}


	
