
#lijsten input[type='submit']{
	background-color: transparent;
	color: #f0ad4e;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;

}


#lijsten input[type='submit']:hover{
    background-color: transparent;
	color: #f91d0d;
	text-decoration: none;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;

}

#taken{
	margin-bottom: 20px;
	width: 100%;
	float: left;
}

.like{
	border: none;
	background-image: url(../images/todo.png);
	background-color: transparent;
	outline: none;
	display: block;
	height: 30px;
	width: 80px;
	background-repeat: no-repeat;
	margin-right: 10px;

	background-position: center;
	transition: background-image 0.5s ease-in;
	background-size: 90%;
}

.like:hover{
	background-image: url(../images/done.png);
	}