
#lijsten input[type='submit']{
	background-color: transparent;
	color: #f0ad4e;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;

}


#lijsten input[type='submit']:hover{
    background-color: transparent;
	color: #f91d0d;
	text-decoration: none;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;

}