
#lijsten input[type='submit']{
	background-color: transparent;
	color: #f0ad4e;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;
}


#lijsten input[type='submit']:hover{
    background-color: transparent;
	color: #f91d0d;
	text-decoration: none;
	border: solid 1px;
	border-radius: 3px;
	font-weight: bold;
}

#taken{
	margin-bottom: 20px;
	width: 100%;
	float: left;
}

.done{
	background-color: black;

}
.done1{
text-decoration: line-through;

}
#bewerkenTaak {
	background-color: transparent;
	border: solid 1px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	color: #f0ad4e;
}
#bewerkenTaak:hover {
	background-color: transparent;
	border: solid 1px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	color: #f91d0d;
}
#bewerkenTaak a{
	color: #f0ad4e;
}
#bewerkenTaak a:hover{
	color: #f91d0d;
}

