
#GedeeldeTaken a{
	color: black;
	font-size: 16px;
	font-family: 'Cuprum', serif;
}

#GedeeldeTaken a:hover{
	color: black;
	font-size: 16px;
	font-family: 'Cuprum', serif;
	text-decoration: none;
}

#GedeeldeTaken p{
	color: red;
	font-size: 12px;
	font-family: 'Cuprum', serif;
}

#GedeeldeTaken{
	margin-top: 15px;
	width: 100%;
}

#GedeeldeLijsten{
	margin-top: 15px;
	width: 100%;
	font-family: 'Cuprum', serif;
	font-size: 16px;
}