#rightForm {
  margin-top: 40px; }

.form-group input {
  width: 100%; }

@media only screen and (min-width: 800px) {
  #rightForm {
    width: 50%; }

  .form--register {
    margin-top: 150px;
    width: 80%;
    height: 270px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/transparant.png"); } }
#rightForm input[type='submit'] {
  background-color: transparent;
  color: #f0ad4e;
  border: solid 1px;
  border-radius: 3px;
  font-weight: bold; }

#rightForm input[type='submit']:hover {
  background-color: transparent;
  color: #f91d0d;
  text-decoration: none;
  border: solid 1px;
  border-radius: 3px;
  font-weight: bold; }

#rightForm #inlog {
  margin-bottom: 10px;
  font-family: 'Cuprum', serif; }

#rightForm #geenAccount {
  color: black;
  font-size: 10px;
  font-family: 'Cuprum', serif; }

@media only screen and (min-width: 800px) {
  #leftbalk {
    width: 20%;
    height: 620px;
    background-image: url("../images/transparant2.png"); }

  #leftbalk img {
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto; }

  #settings img {
    width: 30%;
    margin-top: 15px;
    float: right; }

  .comments__list {
    margin-top: 20px; }

  .comments__list__item a {
    color: black; }

  .comments__list__item a:hover {
    text-decoration: none; }

  #home {
    width: 80%;
    height: 620px;
    background-image: url("../images/transparant3.png"); }

  #verwijderen a {
    font-family: 'Cuprum', serif;
    font-size: 16px; }

  #verwijderen input[type='submit'] {
    background-color: transparent;
    color: #f0ad4e;
    border: solid 1px;
    border-radius: 3px;
    font-weight: bold; }

  #verwijderen input[type='submit']:hover {
    background-color: transparent;
    color: #f91d0d;
    text-decoration: none;
    border: solid 1px;
    border-radius: 3px;
    font-weight: bold; }

  #verwijderen {
    margin-bottom: 20px; }

  #home li {
    list-style-type: none; }

  #home h3 {
    font-family: 'Cuprum', serif;
    font-size: 20px; }

  #timeline {
    margin-top: 1px;
    width: 90%;
    margin-right: auto;
    margin-left: auto; } }
#lijsten input[type='submit'] {
  background-color: transparent;
  color: #f0ad4e;
  border: solid 1px;
  border-radius: 3px;
  font-weight: bold; }

#lijsten input[type='submit']:hover {
  background-color: transparent;
  color: #f91d0d;
  text-decoration: none;
  border: solid 1px;
  border-radius: 3px;
  font-weight: bold; }

#taken {
  margin-bottom: 20px;
  width: 100%;
  float: left; }

.done {
  background-color: black; }

.done1 {
  text-decoration: line-through; }

#bewerkenTaak {
  background-color: transparent;
  border: solid 1px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: #f0ad4e; }

#bewerkenTaak:hover {
  background-color: transparent;
  border: solid 1px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: #f91d0d; }

#bewerkenTaak a {
  color: #f0ad4e; }

#bewerkenTaak a:hover {
  color: #f91d0d; }

#rightForm p {
  font-family: 'Cuprum', serif;
  font-size: 16px; }

#rightForm .Login {
  color: #f0ad4e;
  padding: 5px;
  border: solid 1px;
  border-radius: 3px;
  font-weight: bold; }

#rightForm .Register {
  color: #f0ad4e;
  padding: 5px;
  border: solid 1px;
  border-radius: 3px;
  margin-left: 15px;
  font-weight: bold; }

#rightForm .Login:hover {
  color: #f91d0d;
  text-decoration: none; }

#rightForm .Register:hover {
  color: #f91d0d;
  text-decoration: none; }

#taakDetails {
  font-family: 'Cuprum', serif;
  font-size: 16px; }

#taak {
  margin-top: 100px; }

#taak h5 {
  font-size: 20px;
  font-family: 'Cuprum', serif; }

#taken a {
  font-family: 'Cuprum', serif;
  font-size: 16px; }

#taken {
  margin-bottom: 20px; }

#taak input[type='submit'] {
  background-color: transparent;
  color: #f0ad4e;
  font-weight: bold;
  border: solid 1px;
  border-radius: 3px; }

#taak input[type='submit']:hover {
  background-color: transparent;
  color: #f91d0d;
  text-decoration: none;
  border: solid 1px;
  border-radius: 3px;
  font-weight: bold; }

#taken p span {
  color: red;
  font-size: 12px;
  font-family: 'Cuprum', serif; }

#taskMenu input[type='submit'] {
  background-color: transparent;
  color: #f0ad4e;
  border: solid 1px;
  border-radius: 3px;
  width: 100%; }

#taskMenu input[type='submit']:hover {
  background-color: transparent;
  color: #f91d0d;
  border: solid 1px;
  border-radius: 3px;
  width: 100%; }

body {
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url(http://az616578.vo.msecnd.net/files/2016/02/06/6359033463277230531848074192_Lists.gif);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh; }

nav {
  width: 90%;
  height: 80px;
  margin-right: auto;
  margin-left: auto; }

nav a {
  font-family: 'Cuprum', serif;
  font-size: 18px;
  float: right;
  color: black;
  text-decoration: none;
  padding-right: 30px;
  padding-top: 30px; }

nav a:hover {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
